/* 
RESET 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL 
*/

body {
    font-size: 0.8em;
}

.container {
    max-width: 1170px;
    margin: 50px auto 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* 
TIPHOGRAPHY SYSTEM
-COLORS

*/
